<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="LogDir" value="F:\Serra\web\WELD_TELECOM\project\Service\_logs\"/>
    <add key="LogLevel" value="Debug"/>
    
    <add key="DumpIntoDB" value="1"/>

    <add key="ServerListenerPort" value="3000"/>
    <add key="ServerListenerIP" value="*"/>

    <add key="StoragePath" value="F:\Serra\web\WELD_TELECOM\project\DocumentsStorage\"/>

    <add key="_Immitate" value=""/>
    <add key="Immitate" value="Welding"/>
    <add key="__Immitate" value="Welding, Error"/>

    <add key="SMTP_Server" value="smtp.yandex.ru"/>
    <add key="SMTP_Port" value="587"/>
    <add key="SMTP_Login" value="no_reply@booktime.me"/>
    <add key="SMTP_Password" value="N5tDxcrG2N"/>
    <add key="DefaultSenderName" value="WeldTelecom"/>

  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="metadata=res://*/Welding.WeldingContext.csdl|res://*/Welding.WeldingContext.ssdl|res://*/Welding.WeldingContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sergi-note2\sqlexpress2019;initial catalog=Welding;integrated security=False;User ID=sa;Password=homesqlgre;MultipleActiveResultSets=True;App=EntityFramework&quot;"/>
  </connectionStrings>

</configuration>
